


.div1{
    background-color: #1d4a8b;
    width: 100%;
    height: 600px;
    color: #fff;
}

.div1::after{
    background-color: #1d4a8b;
    transform: skewY(-4deg);
    content: "";
    position: absolute;
    width: 98.8%;
    height: 100px;
    top: 560px;
    left: 8px;
}

 .div1 h2{
     margin-top: 5px;
     margin-left: 200px;
     display: inline-block;
     float: left;
 }
 .list{
    display: inline-block;
    padding-left: 210px;
    font-size: 12px;
    float: left;
 }
 .home{
     margin-top: 5px;
     color: #fff;
 }
 .work{
    padding-left: 60px;
    margin-top: -15px;
    color: #fff;
 }
 .about{
    margin-left: 130px;
    margin-top: -15px;
    color: #fff;
 }
 .review{
    margin-left: 200px;
    margin-top: -15px;
    color: #fff;
 }
 .contact{
    margin-left: 250px;
    margin-top: -15px;
    color: #fff;
 }
 .say-hi{
     background-color: #ff9c00;
     border: none;
     border-radius: 5%;
    padding: 10px 20px;
    margin-left: 200px;
    margin-top: 8px;
    color: #fff;
    
 }
 

 .section1{
   display: inline-block;
   width: 40%;
   height: 300px;
   float: left;
   margin-left: -590px;
   margin-top: 150px;
   
 }

 .p1{
    font-size: 40px;
 }


 .p2{
   font-size: 15px;
  line-height: 1.5;
  margin-top: -29px;
 }

.read{
   background-color: #ff9c00;
   border: none;
   border-radius: 5%;
  color: #fff;
  margin-top: 10px;
  padding: 10px 20px;
 }



 .img1{
   display: inline-block;
   width: 35%;
   height: 350px;
   float: left;
   margin-left: 500px;
   margin-top: 110px;
   background-image: url(../img/Setting-up-the-best-recruitment-team-640x305.png);
   background-repeat: no-repeat;
   background-size: 100% 350px;
 }


 .section2{
   margin-top: 250px;
   margin-left: -20px;
   color: #062752;
   display: inline-block;
 }


.section2 h2{
font-size: 30px;
text-align: center;
}

 .my-par1{
   padding:  0 300px;
   text-align: center;
   opacity: 0.8;
 }

 .web,
 .uxui,
 .graphic
 {
   display: inline-block;
   float: left;
   height: 300px;
   width: 25%;
   margin-left: 130px;
   margin-top: 20px;
 }

 .uxui{
   margin-left: 30px; 
}

.graphic{
   margin-left: 30px;
}

 .web-icon,
 .uxui-icon,
 .graphic-icon
 {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 50px  0 0 60px ;

 }


 .web-design,
 .uiux-design,
 .graphic-design
 {
   margin: 20px  0 0 60px ;
 }
 
 

  .shrinking,
  .when,
  .but{
   display: inline-block;
   opacity: 0.8;
   text-align: left;
   line-height: 1.5;
   margin-left: 60px;
   font-size: 13.5px;
  }

  .learn{
   margin-left: 60px;
   margin-top: -5px;
   font-size: 15px;
   display: inline-block;
   color: #30517f;
  }

  .icon1-web,
  .icon1_uxui,
  .icon1_graphic
  {
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-left: 10px;
   margin-bottom: -4px;

}



.section3{
   width: 100%;
   height: 450px;
   margin-top: 100px;
   background-image: url(../img/white-background.jpg);
   background-repeat: no-repeat;
   background-size: 100% 450px;
}

.help{
   width: 45%;
   height: 350px;
   margin-left: 80px;
   margin-top: 50px;
   display: inline-block;
   color: #062751;
   float: left;
}

.help h2{
   margin: 50px  0 0 80px ;
   font-size: 38px;
}
.help p {
   margin: 20px  95px 0 80px ;
   font-size: 15px;
   opacity: 0.9;
}

.read-more{
   background-color: #ff9c00;
   border: none;
   border-radius: 5%;
  color: #fff;
  margin-left:75px;
  margin-top: 30px;
  padding: 10px 20px;
}


.img2{
   display: inline-block;
   float: left;
   width: 40%;
   height: 350px;
   margin-top: 50px;
   margin-left: 30px;
   background-image: url(../img/image2.png);
   background-repeat: no-repeat;
   background-size: 100% 350px;
}


.section4{
   width: 100%;
   height: 450px;
   margin-top: 100px;
}

.img3{
   display: inline-block;
   width: 40%;
   height: 350px;
   margin-left: 80px;
   margin-top: 50px;
   background-image: url(../img/1.jpg);
   background-repeat: no-repeat;
   background-size: 100% 350px;
   
}



.interested{
   width: 45%;
   height: 350px;
   margin-top: 50px;
   margin-right: 80px;
   display: inline-block;
   color: #062751;
   float: right;
}

.interested h2{
   margin: 50px  0 0 80px ;
   font-size: 38px;
}

.interested p {
   margin: 20px  95px 0 80px ;
   font-size: 15px;
   opacity: 0.9;
}



.form{
   width:400px ;
   height: 45px;
   background-color: #faf9f7;
   margin-left: 80px;
   margin-top: 30px;
   
}


.email-form{
   width: 50%;
   height: 20px;
   margin-left: 80px;
   color:  #062751;  
   opacity: 0.8;
   margin: 10px 0 10px 10px;
   float: left;
   border: none;
   background-color: #faf9f7;
}

.send{
   width: 20%;
   height: 35px;
   background-color: #ff9c00;
   border: none;
   border-radius: 7%;
   color: #fff;
   margin: 5px 0 10px 100px ;
  float: left;
  
}

 .section5{
   width: 100%;
   height: 960px;
   margin-top: 100px;
   color: #fff;
   background-image: url(../img/backgraound.jpg);
   background-repeat: no-repeat;
   background-size: 100% 960px;
 }

 .latest-project{
    color: #fff;
    text-align: center;
 }


 .latest-project h2{
    padding-top: 80px;
    font-size: 30px;
 }

 .latest-project p{
   padding: 0  300px 0 300px ;
   opacity: 0.8;
}


.app-screen{
width: 100%;
height: 500px;
}



.app-screen1,
.app-screen2,
.app-screen3{
display: inline-block;
float: left;
height: 450px;
width: 25%;
margin-left: 80px;
margin-top: 40px;
background-size: 100% 450px;
border-radius: 2%;
}

.app-screen1{
   background-image: url(../img/screen1.PNG) ;
}

.app-screen2{
   background-image: url(../img/screen2.png) ;
   }


   .app-screen3{
      background-image: url(../img/screen3.PNG) ;
      }



      .screen-description{
         width: 100%;
         height: 300px;
      }
      .screen-description1,
      .screen-description2,
      .screen-description3{
         display: inline-block;
         float: left;
         height: 250px;
         width: 25%;
         margin-left: 80px;
         margin-top: 40px;
      }
      
      .description{
         opacity: 0.8;
         line-height: 1.5;
      }


      .learn-more{
       margin-left: 0;
       margin-top: -5px;
       font-size: 15px;
       display: inline-block;
       color: #ff9c00;
      
      }
    
      .icon
      {
       width: 15px;
       height: 15px;
       display: inline-block;
       margin-left: 10px;
       margin-bottom: -4px;
      
    }


    .section6{
      width: 100%;
      height: 450px;
      margin-top: 100px;
      color: #062752;
    }

    .boy-image{
       width: 26%;
       height: 250px;
       margin-left: 280px ;
       margin-top: 80px;
       background-image: url(../img/boy.jpg);
       background-repeat: no-repeat;
       background-size: 300px 250px ;
       display: inline-block;
       float: left;
    }


    .boy-info{
      width: 40%;
      height: 300px;
      margin-left: -30px ;
      margin-top: 80px;
      display: inline-block;
      float: left;
    }


.boy-info h2{
   font-size: 15px;
}
.par1{
   font-size: 11px;
}
.par2{
  padding-right: 100px;
   font-size: 15px;
   line-height: 1.5;
}

.previous-next{
   width: 150px;
   height: 100px;
   margin-left: 500px;
   display: inline-block; 
   margin-left: 600px;
   margin-top: -100px;
   float: left;
   
}
.icon-previous{
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-left: -10px;
}

.icon-next{
   width: 30px;
   height: 30px;
   display: inline-block;
   margin-left: 20px;
   
}


.site{
   width: 80%;
   height: 100px;
   margin-left: 130px;
   display: inline-block;
}

.booking,
.instacart,
.paypal,
.google{
   width: 150px;
   height: 80px;
   display: inline-block;
   float: left;
}
.booking{
   background-image: url(../img/bookingcom.svg);
   background-size: 150px 80px;
   margin-left: 148px;
}

.instacart{
   background-image: url(../img/instacart.png);
   background-size: 150px 80px;
   margin-left: 70px;
}


.paypal{
   background-image: url(../img/paypal.png);
   background-size: 100px 40px;
   background-repeat: no-repeat;
   margin-left: 70px;
   margin-top: 20px;
}


.google{
   background-image: url(../img/google.png);
   background-size: 100px 40px;
   background-repeat: no-repeat;
   margin-left: 40px ;
   margin-top: 20px;
}



.section7{
   width: 100%;
   height: 500px;
   margin-top: 100px;
   color: #fff;
   background-color: #021222;
 }


 .section7-left{
   width: 31%;
   height: 300px;
   display: inline-block;
   margin-top: 90px;
   margin-left: 260px;
   float: left;
 }


.zone{
   display: inline-block;
   margin-left: 50px;
   font-size: 30px;
}

.on-the-other-hand{
   font-size: 15px;
   line-height: 1.7;
   display: inline-block;
   margin-top: -5px;
   opacity: 0.8;
}

.interested-to{
   font-size: 20px;
}

.form2{
   width:400px ;
   height: 45px;
   background-color: #faf9f7;
   margin-top: 30px;
   border-radius: 2%;
   
}


.email-form2{
   width: 50%;
   height: 20px;
   margin-left: 80px;
   color:  #062751;  
   opacity: 0.7;
   margin: 10px 0 10px 10px;
   float: left;
   border: none;
   background-color: #faf9f7;
}

.send2{
   width: 20%;
   height: 35px;
   background-color: #18519b;
   border: none;
   color: #fff;
   margin-left: 106px ;
  float: left;
  padding-top: 18px ;
  padding-bottom: 27px;
}

.section7-rigth{
   width: 40%;
   height: 300px;
   display: inline-block;
  margin-top: -300px;
   margin-left: 740px;
   float: left;
 }

 .company-info{
    width: 100px;
    height: 300px;
    display: inline-block;
    float: left;
 }
 .company{
   display: inline-block;
   font-size: 20px;
 }

 .about-us{
   opacity: 0.7;
   font-size: 16px;
   margin-top: 17px;
 }

 .Protfolio{
   opacity: 0.7;
   font-size: 16px;
   margin-top: 2px;
   
 }
 .page{
   opacity: 0.7;
   font-size: 16px;
   margin-top: 2px;
 }
 .faq{
   opacity: 0.7;
   margin-top: 2px;
   font-size: 16px;
  
 }
 .reviews{
   opacity: 0.7;
   margin-top: 2px;
   font-size: 16px;
 }


 .support-info{
   width: 100px;
   height: 300px;
   display: inline-block;
   float: left;
   margin-left: 70px;
}

.Contact-info{
   width: 100px;
   height: 300px;
   display: inline-block;
   float: left;
   margin-left: 70px;
}

hr{
   width:75%;
   height: 0.1px;
   background-color: #ccc;
   border: none;
   margin-left: 260px;
   margin-top: 10px;
   display: inline-block;
}

.left{
   width: 25%;
   height: 50px;
   margin-left: 260px;
   display: inline-block;
   float: left;
   margin-top: 10px;
}

.terms{
   opacity: 0.7;
   font-size: 14px;
   display: inline-block;
   float: left;
}

.privacy{
   opacity: 0.7;
   font-size: 14px;
   display: inline-block;
   margin-left: 20px;
  float: left;
}

.security{
   opacity: 0.7;
   font-size: 14px;
   display: inline-block;
   margin-left: 20px; 
  float: left;
}


.social-icon{
   width: 15%;
   height: 50px;
   margin-left: 40px;
   display: inline-block;
   float: left;
   margin-top: 20px;
   
}


.facebook-icon,
.twitter-icon,
.youtube-icon{
   width: 35px;
   height: 35px;
   margin-left: 20px;
}
.right{
   width: 20%;
   height: 50px;
   margin-left: 200px;
   display: inline-block;
   float: left;
   margin-top: 20px;
}
.motivezone-2020{
   opacity: 0.7;
   font-size: 14px;
   margin-top: 5px;
}

.span-MotiveZone{
   color: #ff9c00;
}
